.videbackground{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 0;
}
.videbackground img{
    width: 200vw;
    opacity: .3;
}
.homeContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.905);

    /* filter: blur(8px); */
    
    /* background-color: rgba(255, 0, 0, 0.121); */
}
.mainConatiner{
    width:100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    /* background-color: rgba(255, 0, 0, 0.394); */
}
.button{
    width:400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.369);
    border-radius: 200px;
    margin: calc(50vh - 200px) calc(50vw - 200px);
    
}