.outlineButtonContainer{
    width:100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 300ms ease-in;
}
.outlineButtonContainer:hover{
    
    cursor: pointer;
    transition: 300ms ease-in;
    border:solid 1px var(--primaryColor);
    color: var(--primaryColor);
}
.outlineText{
    transition: 300ms ease-in;
}



