*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.tableContainer{
    background-color: rgba(255, 255, 255, 0.288);
    height: 75vh;
    width: 94vw;
    border-radius: 10px;
    backdrop-filter:blur(3px) ;
    box-shadow: 3px 8rem .8 black;
    border:1px solid white;
    overflow: scroll;
}


.tableContainer table{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.339);
    border-spacing: 0;
    border-collapse: collapse;
  
}
thead{
    background-color: rgba(255, 255, 255, 0.864);
    position: sticky;
    top: 0;
    left: 0;
      /* backdrop-filter: blur(2px); */
    
}
tbody tr p{
    font-size: .7rem;
    font-weight: 500;
    font-weight: normal;
}
tbody tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.462);
}
tbody tr:nth-child(even){
    background-color:rgba(255, 255, 255, 0.07);
}
thead tr p{
    font-size: 20px;
    font-weight: 600;
}
th{
    max-width: 300px;
    padding:10px 10px;
    font-size: 12px;
}

/* icons style */
.sortIcon{
    font-size: 22px;
    color: black;
}
.sortUp{
    color: green;
}
.sortDown{
    color: red;
}
/* Search Table */
.searchContainer{
    width:200px;
    height: 50;
    border-radius: 10px;
    position:absolute;
    top: -100px;
}
.searchContainer:focus{
    border-color: transparent;
}
.greenText{
    color: green;
}
.redText{
    color: red;
}
