@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Poppins:ital,wght@0,200;0,400;0,600;1,100&display=swap');


:root{
    --header-height:3rem;
    --body-fomt:"Poppins";

    /* MARGEINS */
    --padding40:40px;
    --margin20:40px;
    /* COLORS */
    --primaryColor:#d62c40;
    --primaryColor90:#d62c40de;
    --primaryColor70:#d62c40a7;
    --primaryColor50:#d62c4071;
    --primaryColor30:#d62c4046;
    --primaryColor10:#d62c4021;

    --secondaryColor:#0f1519;
    --secondaryColor90:#0f1519e4;
    --secondaryColor70:#0f1519b1;
    --secondaryColor50:#0f151984;
    --secondaryColor30:#0f151964;
    --secondaryColor10:#0f15191b;
    
}
div{
    cursor: url(https://png.pngtree.com/png-vector/20210228/ourmid/pngtree-white-circle-background-png-image_2975665.jpg) auto;
}

.container{
    background-color: red;
    border: 25px solid blue;
    width: 500px;
    height: 300px;
    padding: 25px;
    margin-top: 20px;
}
.boxOne{
    box-sizing:border-box;
}


/* -------- BASE CSS -------- */

*{
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--body-fomt);
}

img{
    width: 100%;
    height: 100%;
}

.AppContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 106, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}
.SimpleCard12{
    width: 100px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: azure;
}
.PageContainer{
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}


/* Common Styles */

.backdropContainer{
    width:100vw;
    height: 100vh;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.652);
    top: 0px;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FONT STYLES */
.large01{
    font-family: var(--body-fomt);
    font-size: 50px;
    letter-spacing: 3px;
    font-weight:bolder;
    color: black; 
    text-decoration: none; 
}
.headline01{
    font-family: var(--body-fomt);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight:bolder;
    color: black; 
    text-decoration: none; 
}
.headline02{
    font-family: var(--body-fomt);
    font-size: 30px;
    letter-spacing: 1px;
    font-weight:500;
    color: black; 
    text-decoration: none; 
}

.label01{
    font-family: var(--body-fomt);
    font-size: 20px;
    font-weight: 500;
    color: black;  
}
.label02{
    font-family: var(--body-fomt);
    font-size: 20px;
    font-weight: 400;
    color: black;  
}
.label03{
    font-family: var(--body-fomt);
    font-size: 18px;
    font-weight: 300;
    color: black;  
}

.body01{
    font-family: var(--body-fomt);
    font-size: 23px;
    font-weight: 500;
    color: black;  
}
.body02{
    font-family: var(--body-fomt);
    font-size: 23px;
    font-weight: 400;
    color: black;  
}
.body03{
    font-family: var(--body-fomt);
    font-size: 22px;
    font-weight: 500;
    color: black;  
}

/* Text Color */
.whiteColor{
    color: white;
}
.primaryColor{
    color: var(--primaryColor);
}

.mainContainer{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(228, 226, 226);
    padding-top: 50px;
    /* background: url("https://images.unsplash.com/photo-1623058453866-b1a65f669a34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80") center / cover ; */
}





